.hero-card{

    background:rgba(255,255,255,0.45);

    backdrop-filter:blur(12px);

    border-radius:40px;

    padding:70px;

    width:900px;

    max-width:90%;

    box-shadow:
    0 20px 50px rgba(0,0,0,.08);

    text-align:left;
}

.hero-card h1{

    font-size:5.5rem;

    color:#ff5d8f;

    margin-bottom:25px;
}

.intro{

    font-size:1.5rem;

    line-height:2;

    color:#444;

}

.start-btn{

    display:inline-block;

    margin-top:30px;

    padding:18px 55px;

    font-size:1.2rem;

    font-weight:600;

    border-radius:60px;

    text-decoration:none;

    color:white;

    background:
    linear-gradient(
    90deg,
    #ff5d8f,
    #ff8c42
    );

    box-shadow:
    0 10px 25px rgba(255,140,66,.3);

}

.tiny-note{

    margin-top:20px;

    font-style:italic;

    color:#777;

}

body{

    background:
    linear-gradient(
    180deg,
    #fff8f2 0%,
    #ffd6e7 45%,
    rgb(250,211,120) 100%
    );

    min-height:100vh;

    margin:0;

    padding:30px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-family:'Poppins',sans-serif;
}

/* ================================= */
/* STORY PAGE */
/* ================================= */

.page-title{

    text-align:center;

    margin-top:40px;

    margin-bottom:60px;

    color:#ff5d8f;

    font-size:4rem;

    font-family:'Playfair Display',serif;
}

.flashcard-container{

    position:relative;

    width:350px;

    height:300px;

    margin:0 auto;
}

.page-title{

    text-align:center;

    color:#ff5d8f;

    margin-bottom:50px;
}

.flashcard-container{

    position:relative;

    width:700px;

    height:450px;

    margin:50px auto;
}

.memory-wall{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:40px;

    padding:50px;

    min-height:auto;
}

.memory-card h2{

    color:#ff5d8f;

    margin-bottom:20px;
}

.memory-card p{

    line-height:1.8;

    color:#444;
}

.card1{
    z-index:5;
    top:0;
    left:0;
}

.card2{
    z-index:4;
    top:15px;
    left:15px;
}

.card3{
    z-index:3;
    top:30px;
    left:30px;
}

.card4{
    z-index:2;
    top:45px;
    left:45px;
}

.card5{
    z-index:1;
    top:60px;
    left:60px;
}

.memory-card:hover{

    transform:
    translateY(-10px);

}


.final-message{

    opacity:0;

    animation:
    reveal 2s ease forwards;

    animation-delay:1.5s;
}

@keyframes reveal{

from{

opacity:0;

transform:
translateY(50px);

}

to{

opacity:1;

transform:
translateY(0);

}
}

.nav-buttons{

    text-align:center;

    margin-top:140px;
}

.nav-buttons a{

    text-decoration:none;

    margin:15px;

    padding:15px 35px;

    border-radius:50px;

    background:
    linear-gradient(
    90deg,
    #ff5d8f,
    #ff8c42
    );

    color:white;

    font-weight:600;

    box-shadow:
    0 10px 25px rgba(255,140,66,.25);
}

.nav-buttons a:hover{

    transform:translateY(-2px);
}